body {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: papayawhip;
    color: rgba(0,0, 0, 0.7);
}

p {
    color: slateblue;
}

.text {
    color: rgb(0, 154, 134);
}

#head {
    color: blueviolet;
}

